@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$color-dark-bg: #212E37;
$color-dark-h: #2B3743;

$color-light-bg: #fafafa;
$color-light-h: #ffffff;

body, html{
  height: 100%;
  margin-top:0px;
  font-family: 'Quicksand', serif;
}
*{
  box-sizing: border-box;
}
.card-container, .header, input, .list,  body{
  transition: all 0.2s ease-out;
}

.dark-mode{
  background: $color-dark-bg;
  #root {
    height: 100%;
  }
  .header{
    background-color: $color-dark-h;
    border-bottom: 2px solid #1e2b34;
    box-shadow: 5px 5px 10px #1e2b34;
    color:#fff;
    .right{
      button{
        color:#fff;
      }
    }
  }

  .card{
    .card-container{
      background-color: $color-dark-h;
      color:#fff;
      .placeholder{
        padding: 20px;
      }
    }
  }

  .input-group{
    .input{
      box-shadow: 3px 3px 10px #1e2b34;
      color:#fff;
      background-color: $color-dark-h;
    }
    .icon{
      color:#fff
    }
  }

  .list{
    background-color: $color-dark-h;
    box-shadow: 3px 3px 10px #1e2b34;
    .list-item{
      color:#fff;
      border-top:1px solid $color-dark-h;
      border-bottom:1px solid $color-dark-h;
      &:hover{
        border-top:1px solid #1e2b34;
        border-bottom:1px solid #1e2b34;
        background-color: $color-dark-bg;
      }
    }
  }

  .country-single{
    color: $color-light-h;
  }
  .label{
    color: $color-light-h
  }
  .back-btn-container{
    a{
      width:100px;
      background-color: $color-dark-h;
      color:#f5f5f5;
      font-weight: 900;
      box-shadow: 3px 3px 10px #1e2b34;
      svg{
        transform: translate(0, 2px);
      }
    }
  }
  .badge{
      background-color: $color-dark-h;
      color:#f5f5f5;
      font-weight: 900;
      box-shadow: 3px 3px 10px #1e2b34;
  }
}

.light-mode{
  background: $color-light-bg;
  #root {
    height: 100%;
  }
  .header{
    background-color: $color-light-h;
    border-bottom: 2px solid #f5f5f5;
    box-shadow: 5px 5px 10px #f5f5f5;
    color:#1e2b34;
    .right{
      button{
        color:#1e2b34;
      }
    }
  }
  .card{
    .card-container{
      background-color: $color-light-h;
      color:#1e2b34;
      box-shadow: 4px 4px 10px #f1f1f1;
      .placeholder{
        padding: 20px;
      }
    }
  }

  .input-group{
    .input{
      box-shadow: 3px 3px 10px #f5f5f5;
      color:#1e2b34;
      background-color: $color-light-h;
    }
  }

  .list{
    background-color: $color-light-h;
    box-shadow: 3px 3px 10px #f5f5f5;
    .list-item{
      color:#1e2b34;
      border-top:1px solid #fff;
      border-bottom:1px solid #fff;
      &:hover{
        border-top:1px solid #f1f1f1;
        border-bottom:1px solid #f1f1f1;
        background-color: #f5f5f5;
      }
    }
  }

  .country-single{
    color: $color-dark-h;
  }
  .label{
    color: $color-dark-h
  }

  .back-btn-container{
    a{
      width:100px;
      background-color: #fff;
      color:#1e2b34;
      font-weight: 900;
      box-shadow: 3px 3px 10px #f5f5f5;
      svg{
        transform: translate(0, 2px);
      }
    }
  }

  .badge{
      background-color: $color-light-h;
      color:#1e2b34;
      font-weight: 900;
      box-shadow: 3px 3px 10px #f5f5f5;
  }
}


.header{
  font-family: 'Quicksand', serif;
  position: sticky;
  top:0px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100;
  .left{
    h3{
      font-size: 30px;
    }
  }
  .right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    button{
      background-color: transparent;
      border: 0px;
      color:#fff;
      cursor: pointer;
      &:focus{
        outline:0px
      }
    }
  }
}


.input-group{
  position: relative;
  .search{
    padding-left: 60px;
  }
  .select{
    cursor: pointer;
  }
  .icon{
    position: absolute;
    top:50%;
    transform: translate(0px, -40%);
    &.left{
      left:20px
    }
    &.right{
      right:20px
    }
  }
  .list{
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    .list-item{
      display: block;
      padding:20px;
      cursor: pointer;
    }
  }
}
.container {
  width:1200px;
  margin:0 auto;
  max-width:100%
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.space-between{
  justify-content: space-between;
}

.card{
  width:25%;
  padding:20px;
  box-sizing: border-box;
  .card-container{
    border-radius: 5px;
  }
}

.input{
    width:100%;
    outline: 0px;
    border: 0px;
    height:55px;
    padding:15px;
    border-radius: 5px;
    font-family: 'Quicksand', serif;
    font-size: 14px;
    font-weight: 600;
  }
a {
  text-decoration: none;
}

.col-2{
  width:50%;
  padding: 20px;
}
.col-1{
  width:100%;
  padding: 20px;
}

.label{
  padding-top:10px;
  padding-bottom: 10px;
  span{
    font-weight: 100;
  }
}
.badge {
  padding: 7px;
    width: 80px;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
.col-4{
  width:25%;
  padding: 20px;
}

.back-btn-container{
  padding: 20px;
  a{
    display: inline-block;
    text-align: center;
    padding: 10px;
    width:100px;
    border-radius: 5px;
  }
}
@media (max-width: 768px){
  .card{
    width:50%;
  }
}
@media (max-width: 480px){
  .card{
    width:100%;
  }
  .col-2, .col-4{
    width:100%
  }
}